body {
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  background-color: #d49c47;
}

.navbar {
  height: 100px;
  margin: -20px -20px -20px -20px;
  background-color: #fff;
  color: #d49c47;
  padding: 18px 40px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.07);
  position: sticky;
  left: 200px;
  z-index: 100;
  border-radius: 0;
  justify-content: flex-start;
}

.driver-title {
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 2px;
  color: #d49c47;
}

.main .navbar .logo {
  font-size: 2.2em;
  font-weight: bold;
  letter-spacing: 2px;
}

.sidebar {
  width: 200px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  box-shadow: 32px 0 32px -8px rgba(171, 88, 82, 0.15);
  min-height: 100vh;
  padding-left: 12px;
}

.sidebar img.logo {
  width: 90px;
  margin-bottom: 20px;
}

.sidebar a {
  text-decoration: none;
  color: #d49c47;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px 28px 10px 28px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
}

.sidebar a:hover {
  background-color: #d49c47;
  color: white;
  border-radius: 20px 0px 0px 20px;
}

.sidebar a i {
  margin-right: 10px;
}

.sidebar a.active {
  background-color: #d49c47;
  color: white;
  font-weight: bold;
  border-radius: 20px 0px 0px 20px;
  pointer-events: none;
}

.main {
  flex: 1;
  background-color: #d49c47;
  color: white;
  padding: 20px;
  min-height: 100vh;
}

.main-header {
  font-size: 28px;
  margin-bottom: 20px;
}

.info {
  line-height: 1.8;
}

.back {
  margin-top: 40px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.make-order-title {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  margin-bottom: 32px;
  margin-top: 0;
}

.order-card {
  background: rgba(255, 251, 251, 0.47);
  color: #d49c47;
  border-radius: 18px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08);
  padding: 32px 36px;
  margin: 32px auto 0 auto;
  max-width: 600px;
  font-size: 1.15em;
  font-weight: 500;
  box-sizing: border-box;
  display: block;
}

.logout {
  margin-left: auto;
  margin-bottom: 20px;
  text-align: center;
  font-weight: bold;
  color: #d49c47;
  cursor: pointer;
  font-size: 14;
}
