* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  background-color: #d49c47;
  bottom: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px 80px;
  margin-top: 10px;
  background: #d49c47;
}

.navbar h1 {
  color: #d49c47;
  font-size: 24px;
}

.nav-links a {
  color: #fff;
  font-style: italic;
  margin-left: 30px;
  text-decoration: none;
  align-text: flex-end;
  gap: 10px;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.nav-links .active {
  background-color: #fff;
  color: #d49c47;
  padding: 6px 20px;
  border-radius: 20px 20px 0 0;
}

.container {
  background-color: #fff;
  border-radius: 30px;
  margin: 0px 40px;
  padding: 100px 120px 120px;
  margin-top: -25px;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.welcome {
  color: #d49c47;
  max-width: 40%;
}

.welcome h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.welcome p {
  font-size: 18px;
  font-family: "Kotta One", serif;
}

.sign-box {
  background-color: #d49c47;
  padding: 40px;
  border-radius: 16px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 8px 0px #d49c47;
}

.sign-box h2 {
  text-align: center;
  font-family: "Kotta One", serif;
  color: #fff;
  margin-bottom: 30px;
}

.sign-box label {
  display: block;
  margin-top: 15px;
  font-style: italic;
  color: #fff;
}

.sign-box input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 5px;
}

.sign-box button {
  width: 100%;
  padding: 12px;
  margin-top: 40px;
  background-color: #fff;
  color: #d49c47;
  font-family: "Kotta One", serif;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  cursor: pointer;
}

.sign-box button:hover {
  background-color: #fff;
}
